{
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "react",
    "jsx-a11y"
  ],
  "rules": {
    "spaced-comment" : [0, "always"],
    "no-use-before-define": [2, "nofunc"],
    "no-console": [0],
    "no-unused-vars": [2, {"vars": "all", "args": "none"}],
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "jsx-a11y/anchor-has-content": [2, {}]
  }
}
