.GSLEditorLayout {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.CodeEditorLayout {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.Editor {
  width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
}

.Statusbar {
  display: flex;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: space-between;
  align-content: left;
  padding: 0 1em;
  width: 100%;
  height: 30px;
  align-self: flex-end;
  text-align: left;
  background: #EAEBF1;
  line-height: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;  
}

.StatusbarText {
  display: inline-block;
  color: #757884;
  background: #EAEBF1;
  font-size: 12px;
  line-height: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 9px;
}

input.StatusbarButton {
  flex-shrink: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: 1px solid white;
  padding: 0.25em 0.7em;
  color: #8b857c;
  background: #FFFFFF;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

.Toolbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-shrink: 0;
  border: lightgrey;
  border-width: thin;
  border-style: none none solid none;
}

.ToolbarItems {}

/* console stuff */

.ToolbarItem {
  display: inline-block;
  line-height: 30px;
  vertical-align: center;
  margin: 0px 0px;
  padding: 0px 16px;
  background-repeat: no-repeat;
  background-position: left;
  cursor: pointer;
}

.ToolbarItem.disabled {
  pointer-events:none;
  display: inline-block;
  line-height: 30px;
  vertical-align: center;
  margin: 0px 0px;
  padding: 0px 16px;
  background-repeat: no-repeat;
  background-position: left;
}

.ToolbarItemLink {
  color: #707a96;
  text-decoration: none;
}

.ToolbarItemLink.disabled {
  color: #C2C5D2;
  text-decoration: none;
}

.ConsoleLayout {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-shrink: 0;
}

.ConsoleLayout-resizeHandle {
    cursor: ns-resize;
    height: 5px;
    flex-shrink: 0;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 10;
    background-color: transparent;
}

.ConsoleLayout-resizeHandle:hover {
  background: #999FB3;
}

.ConsoleLayout-resizeHandle.dragging {
  background: #3F82FF;
}

.Titlebar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-shrink: 0;

  height: 30px;
  width: 100%;
  background: #4c5263;
  line-height: 12px;
}

.TitlebarText {
  display: inline-block;
  color: #C2C5D2;
  padding-left: 10px;
  padding-top: 9px;
}

.TitleBarItem {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: right bottom;
  cursor: pointer;
  color: #EEEEEE;
  margin-right: 10px;
  padding-right: 10px;
  padding-top: 9px;
  padding-left: 10px;
  padding-bottom: 3px;
}

.TitleBarItem.ButtonStyle {
  background-color: #71747f;
  color: #EEEEEE;
  padding-top: 3px;
  border-radius: 2px;
}

.TitleBarItem span {
  display: inline-block;
}

.ResultViewer {
  background: #292D40;
  color: white;
  overflow:auto;
}

.ResultViewer.active {
  min-height: 100px;
  flex-grow: 1;
}

.divResult {
  font-family: Courier;
  color: #BBBBBB;
  white-space: pre;
  margin-top: 0;
  display: block;
  padding-left: 9px;
  padding-top: 2px;
  padding-right: 9px;
}
